/**
 * index.scss- Add any styles want here!
 */

body {
  background: #f5f5f5;
}

html {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #222;
  font-family: arial, sans-serif;
  font-size: 14px;
}

#navbar {
  display: grid;
  grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
  grid-template-rows: 50px;
  grid-template-areas: "about store . gmail images menu_button sign-in";
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  min-width: 100%;
  max-width: 100%;
  grid-template-columns: 100px 100px 100px 1fr 50px 50px 50px;
  grid-template-rows: 50px;
  grid-template-areas: "advertising business how_search_works . privacy terms settings";
  background-color: light-gray;
}

#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
}

#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
}

#gmail {
  grid-area: gmail;
  justify-self: center;
  align-self: center;
}

#images {
  grid-area: images;
  justify-self: center;
  align-self: center;
}

#menu_button{
  grid-area: menu_button;
  justify-self: center;
  align-self: center;
}

#sign-in {
  grid-area: sign-in;
  justify-self: center;
  align-self: center;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 100px 100px 200px;
  grid-template-areas:
    ". logo ."
    ". search ."
    ". flexbox ."
}

#logo {
  grid-area: logo;
  justify-self: center;
  align-self: end;
}

#search {
  grid-area: search;
  align-self: center;
  justify-self: center;
  width: 80%;
  heigth: 30px;
  border: 1px solid rgba(0, 0, 0, 0.200);
  border-radius: 30px;
}



#search:hover {
  box-shadow: 1px 1px 5px gray;
}

#flexbox {
  display: flexbox;
  grid-area: flexbox;
  justify-self: center;
  align-self: center;
}

#google-search-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#feeling-lucky-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#google-search-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
}
#feeling-lucky-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
}


#advertising {
  grid-area: advertising;
  justify-self: center;
  align-self: center;
}

#business{
  grid-area: business;
  justify-self: center;
  align-self: center;
}

#how_search_works {
  grid-area: how_search_works;
  justify-self: center;
  align-self: center;
}

#privacy {
  grid-area: privacy;
  justify-self: center;
  align-self: center;
}

#terms {
  grid-area: terms;
  justify-self: center;
  align-self: center;
}

#settings {
  grid-area: settings;
  justify-self: center;
  align-self: center;
}
